@font-face {
  font-family: 'NettoOT';
  src: local('NettoOT'), url(/fonts/NettoOT/NettoOT.woff) format('woff');
}

html {
  font-family: 'Adelle Sans, sans-serif';
  line-height: 1.5;
}
.box {
  display: flex;
  min-height: min-content; /* needs vendor prefixes */
}

h1.mainpageTitle {
  font-size: 3rem;
  text-align: center;
}
.m-0 {
  margin: 0;
}
